.tgrid-header {
  background-color: #fafafa;
}

.tgrid-header-wrapper {
  position: relative;
  overflow: hidden;
  border-right: 1px solid #e6e6e6;
  will-change: scroll-position;
}

.tgrid-header-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #fafafa;
}
