.tgrid-data-cell {
  padding: 0.5em 0.75em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.i-expand, .i-collapse {
  margin-right: 5px;
  width: 10px;
  display: inline-block;
  cursor: pointer;
}

.i-dummy {
  display: inline-block;
  width: 15px;
}